@use "../utils/variables" as variables;
@use "../utils/mixins" as mixins;

.button {
  &-navbar-library,
  &-navbar-account {
    @include mixins.flex-center-space-between-row;
    gap: 0.5em;
    height: 100%;
    button {
      @include mixins.button-transparent();
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        transition: transform 0.4s linear;
        border-radius: 6px;
      }
      span {
        position: relative;
        z-index: 1;
      }
      &:hover {
        color: variables.$button-white-color;
      }
      &:hover::before {
        background-color: variables.$button-bg-color;
        transform: scale(0.95);
      }
      &:active::before {
        transform: scale(1.05);
      }
    }
  }
}
