$xs: 479px;
$sm: 767px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;

@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$xs +1}) and (max-width: #{$sm}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{ $sm + 1 }) and (max-width: #{$md}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{ $md + 1 }) and (max-width: #{$lg}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{ $lg + 1 }) {
    @content;
  }
}
