@use "../utils/variables" as variables;

@mixin flex-center-center-column() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-center-space-between-row() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin button-transparent($bg: none, $color: #{variables.$button-black-color}) {
  border: none;
  background: none;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  background-color: $bg;
  color: $color;
}
